---
import { getLangFromUrl } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);

// Traducciones para el footer
const translations = {
  es: {
    contact: {
      title: "Información de contacto",
      email: "Correo electrónico: info@interpreterstrike.com",
      phone: "Teléfono: +123 456 7890",
      address: "Dirección: Interpretation Street, 123, Ciudad, País",
    },
    cookies: "Usamos cookies para mejorar su experiencia en nuestro sitio web.\nAl continuar navegando, acepta el uso de cookies.",
    accept: "Aceptar",
    deny: "Denegar",
    copyright: "Todos los derechos reservados.",
  },
  en: {
    contact: {
      title: "Contact Information",
      email: "Email: info@interpreterstrike.com",
      phone: "Phone: +123 456 7890",
      address: "Address: Interpretation Street, 123, City, Country",
    },
    cookies: "We use cookies to improve your experience on our site. \nBy continuing to browse, you accept the use of cookies.",
    accept: "Accept",
    deny: "Deny",
    copyright: "All rights reserved.",
  },
};

// Seleccionar el conjunto de traducciones basado en el idioma actual
const t = translations[lang] || translations.es;
---

<footer>
  <div class="footer-content">
    <div class="contact-info">
      <h3>{t.contact.title}</h3>
      <p>{t.contact.email}</p>
      <p>{t.contact.phone}</p>
      <p>{t.contact.address}</p>
    </div>
    <p>&copy; {new Date().getFullYear()} InterpreterStrike. {t.copyright}</p>
  
  </div>
  <LanguagePicker />
</footer>


<style is: global>
  footer {
    background-color: #eeeff0;
    padding: 20px 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #333;
    
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 22px;
  }
  .contact-info {
    margin-bottom: 1rem;
  }

</style>

