---
interface Props {
  title: string;
  nameLabel: string;
  lastNameLabel: string;
  businessNameLabel: string;
  telephoneLabel: string;
  emailLabel: string;
  commentsLabel: string;
  submitButtonText: string;
  requiredText: string;
}

const {
  title,
  nameLabel,
  lastNameLabel,
  businessNameLabel,
  telephoneLabel,
  emailLabel,
  commentsLabel,
  submitButtonText,
  requiredText
} = Astro.props;
---

<h1>{title}</h1>
<form id="contact-form" action="http://localhost:3001/send-form" method="POST">
  <div class="form-group">
    <label for="nombre">{nameLabel} <span class="required">*</span></label>
    <input type="text" id="nombre" name="nombre" required>
  </div>
  <div class="form-group">
    <label for="apellidos">{lastNameLabel}</label>
    <input type="text" id="apellidos" name="apellidos">
  </div>
  <div class="form-group">
    <label for="razonSocial">{businessNameLabel}</label>
    <input type="text" id="razonSocial" name="razonSocial">
  </div>
  <div class="form-group">
    <label for="telefono">{telephoneLabel}</label>
    <input type="tel" id="telefono" name="telefono">
  </div>
  <div class="form-group">
    <label for="email">{emailLabel} <span class="required">*</span></label>
    <input type="email" id="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="observaciones">{commentsLabel}</label>
    <textarea id="observaciones" name="observaciones" maxlength="300"></textarea>
    <small>M치ximo 300 caracteres.</small>
  </div>
  <button type="submit">{submitButtonText}</button>
</form>
<style scoped>
  body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    margin: 10;
    padding: 40px;

    font-size: 18px;    
    color: #090909;
    background-color: #f9f9f9;
  }

  h1, h2, h3 {
    color: #c14747;
  }

  .content {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  .form-group .required {
    color: #c14747;
  }

  button {
    background-color: #c14747;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #a83a3a;
  }

  small {
    display: block;
    margin-top: 0.5rem;
    color: #666;
  }

  /* Ajustes para pantallas grandes (PC) */
  @media (min-width: 1024px) {
    .content {
      max-width: 800px; /* Ancho m치ximo del formulario */
      margin: auto;
      
    }

    .form-group input,
    .form-group textarea {
      max-width: 600px; /* Ajusta el ancho de los campos */
      margin: 0 auto; /* Centra los campos */
    }

    button {
      max-width: 200px; /* Ancho del bot칩n */
      margin: 1rem auto 0 auto; /* Centra el bot칩n */
      display: block;
    }
  }
</style>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function() {
    const contactForm = document.getElementById('contact-form');
    contactForm.addEventListener('submit', function (event) {
      const nombre = document.getElementById('nombre').value.trim();
      const email = document.getElementById('email').value.trim();
      
      if (!nombre || !email) {
        event.preventDefault();
        alert('{requiredText}');
      }
    });
  });
</script>
